<launch>
  <!-- please launch gazebo_hrp2jsknt_no_controllers.launch of hrpsys_gazebo_tutorials with roslaunch -->
  <!-- and hrp2jsknt_hrpsys_bringup.launch of hrpsys_gazebo_tutorials with rtmlaunch -->
  <!-- Please launch rviz to make footsteps -->
  <!-- move the robot to reset-pose -->
  <!-- <include file="$(find jsk_footstep_controller)/launch/resetmanippose.launch" /> -->
  <!-- planner -->
  <node pkg="jsk_footstep_planner"
        type="footstep-planner-node.l"
        name="footstep_planner"
        clear_params="true"
        output="log">
    <rosparam command="load" file="$(find jsk_footstep_controller)/config/hrp2jsknt_sim.yaml" />
    <rosparam>
    use_planes: false
    timeout: 1
    </rosparam>
  </node>
  <!-- controller -->
  <node pkg="jsk_footstep_controller"
        type="footstep-controller.l"
        name="footstep_controller"
        clear_params="true"
        output="screen">
    <rosparam>
      interface_file: "package://hrpsys_ros_bridge_tutorials/euslisp/hrp2jsknt-interface.l"
      interface_class: "hrp2jsknt-interface"
    </rosparam>
  </node>
  <!-- visualization for rviz -->
  <arg name="POSE_REMAP" default="/footstep_marker/pose" />
  <arg name="DEV" default="/dev/input/js0" />
  <node pkg="joy" type="joy_node" name="joy0" output="screen" >
    <param name="dev" type="string" value="$(arg DEV)" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>

  <node pkg="jsk_teleop_joy" type="joy.py" name="joy" output="screen">
    <remap from="pose" to="$(arg POSE_REMAP)" />
    <remap from="execute" to="/footstep_marker/execute" />
    <param name="controller_type" value="auto" />
    <param name="follow_view" value="true" />
    <param name="frame_id" value="/odom" />
    <rosparam>
       plugins: ['JoyFootstepPlanner']
    </rosparam>
    <!-- footstep parameters -->
    <rosparam command="load" file="$(find jsk_footstep_controller)/config/hrp2jsknt_sim.yaml" />
  </node>
  
  <node pkg="jsk_interactive_marker"
        type="footstep_marker"
        name="footstep_marker"
        clear_params="true"
        output="log"
        >
    <remap from="move_marker" to="$(arg POSE_REMAP)" />
    <param name="wait_snapit_server" value="false" />
    <rosparam command="load" file="$(find jsk_footstep_controller)/config/hrp2jsknt_sim.yaml" />
    <rosparam>
      use_footstep_planner: true
      use_initial_footstep_tf: true
      footstep_margin: 0.21
      foot_size_z: 0.01
    </rosparam>
    <param name="frame_id" value="/odom" />
  </node>
</launch>
