language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
env:
  global:
    - ROS_PARALLEL_TEST_JOBS="-j1"
    - CATKIN_PARALLEL_TEST_JOBS="-j1"
  matrix:
    - ROS_DISTRO=hydro  ROSWS=wstool BUILDER=catkin    USE_DEB=false  BEFORE_SCRIPT='$CI_SOURCE_PATH/.travis_before_script_jsk_recognition_utils.bash'
    - ROS_DISTRO=indigo  ROSWS=wstool BUILDER=catkin   USE_DEB=true
script: source .travis/travis.sh
before_script:
  - export ROS_PARALLEL_JOBS="-j2 -l2"
