<library path="src">
  <class name="EnvironmentPlaneModelingClient"
         type="jsk_teleop_joy.plugin.environment_plane_modeling_client.EnvironmentPlaneModelingClient"
         />
  <class name="Usage" type="jsk_teleop_joy.plugin.util.Usage">
  </class>
  <class name="VerboseStatus" type="jsk_teleop_joy.plugin.verbose.VerboseStatus">
  </class>
  <class name="Relay" type="jsk_teleop_joy.plugin.relay.Relay">
  </class>
  <class name="RelayAndConvertToPS3" type="jsk_teleop_joy.plugin.relay.RelayAndConvertToPS3">
  </class>
  <class name="JoyPose6D" type="jsk_teleop_joy.plugin.joy_pose_6d.JoyPose6D">
  </class>
  <class name="JoyFootstep" type="jsk_teleop_joy.plugin.joy_footstep.JoyFootstep">
  </class>
  <class name="JoyFootstepPlanner" type="jsk_teleop_joy.plugin.joy_footstep_planner.JoyFootstepPlanner">
  </class>
  <class name="JoyFootstepPlannerDemo" type="jsk_teleop_joy.plugin.joy_footstep_planner_demo.JoyFootstepPlannerDemo">
  </class>
  <class name="JoyMoveIt" type="jsk_teleop_joy.plugin.moveit.JoyMoveIt">
  </class>
  <class name="JoyGoPos" type="jsk_teleop_joy.plugin.gopos.JoyGoPos">
  </class>
  <class name="JSKInteractiveMarkerEndeffector" type="jsk_teleop_joy.plugin.jsk_interactive_marker_control.EndEffector">
  </class>
  <class name="VehicleJoyController" type="jsk_teleop_joy.plugin.vehicle.VehicleJoyController">
  </class>
  <class name="JoyFootstepMarker" type="jsk_teleop_joy.plugin.joy_footstep_marker.JoyFootstepMarker">
  </class>
</library>
