<launch>
  <arg name="AUTOREPEAT_RATE" default="0.0" />
  <node pkg="joy_mouse"
        type="disable_mouse.py"
        name="disable_kensington"
        args="Kensington" />
  <node pkg="joy_mouse"
        type="mouse.py"
        name="kensington_joy"
        output="screen"
        >
    <param name="autorepeat_rate" value="$(arg AUTOREPEAT_RATE)" />
    <PARAM name="device_name" value="Kensington      Kensington Expert Mouse" />
    <remap from="joy" to="trackball_joy" />
  </node>
</launch>
