<launch>
  <arg name="DEV" default="/dev/input/mouse0" />
  <node pkg="joy_mouse"
        type="mouse.py"
        name="trackpoint_joy"
        output="screen"
        >
    <param name="dev" value="$(arg DEV)" />
    <!-- <param name="device_name" value="TPPS/2 IBM TrackPoint" /> -->
    <remap from="joy" to="/trackpoint/joy" />
  </node>

</launch>
