
<launch>
  <include file="$(find jsk_calibration)/staro_calibration/capture_data/all_viewers.launch"/>
  <include file="$(find jsk_calibration)/staro_calibration/capture_data/all_pipelines.launch"/>
  <include file="$(find jsk_calibration)/staro_calibration/capture_data/capture_exec.launch"/>
</launch>
