<launch>
  <include file="$(find jsk_ik_server)/test/hrp2jsk-ik-server-test.launch" />
  <include file="$(find jsk_ik_server)/test/hrp2jsknt-ik-server-test.launch" />
  <include file="$(find jsk_ik_server)/test/pr2-ik-server-test.launch" />
  <include file="$(find jsk_ik_server)/test/atlas-ik-server-test.launch" />
</launch>