<launch>
  <node pkg="roseus" type="roseus" name="hrp2jsknts_ik_server" output="screen"
	args="$(find jsk_ik_server)/euslisp/ik-server-impl/hrp2jsknts-ik-server.l">
    <param name="robot" value="hrp2jsknts"/>
    <remap to="/hrp2jsknts_ik_server/solve" from="/solve_ik" />
  </node>
  <!--
  <node pkg="roseus" type="roseus" name="atlas_ik_client" output="screen"
	args="$(find jsk_ik_server)/euslisp/old-ik-client.l">
    <param name="root_link" value="/pelvis"/>
  </node>
  -->
  <node pkg="roseus" type="roseus" name="hrp2jsknts_ik_client" output="screen"
	args="$(find jsk_ik_server)/test/fullbody-ik-client-test.l">
    <env name="IK_CLIENT_TEST" value="hrp2jsknts"/>
    <remap to="/hrp2jsknts_ik_server/solve" from="/solve_ik" />
  </node>
</launch>
