<launch>
  <node pkg="roseus" type="roseus" name="pr2_ik_server"
	args="$(find jsk_ik_server)/euslisp/pr2-ik-server.l"/>
  <node pkg="roseus" type="roseus" name="pr2_ik_client" output="screen"
	args="$(find jsk_ik_server)/euslisp/ik-client-test.l">
    <param name="root_link" value="/base_link"/>
  </node>
</launch>

