<launch>
  <node pkg="roseus" type="roseus" name="jaxon_red_ik_server" output="screen"
        args="$(find jsk_ik_server)/euslisp/ik-server-impl/jaxon_red-ik-server.l">
    <param name="robot" value="jaxon_red"/>
    <!--param name="additional_ik_options" value=":centroid-thre 10"/-->
  </node>
</launch>
