<launch>
  <arg name="POSE_REMAP" default="pose" />
  <arg name="CONTROLLER_TYPE" default="xbox" />
  <node pkg="joy" type="joy_node" name="ps3_joy0" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>
  <node pkg="jsk_joy" type="joy.py" name="joy" output="screen">
    <remap from="pose" to="$(arg POSE_REMAP)" />
    <param name="controller_type" value="$(arg CONTROLLER_TYPE)" />
    <param name="follow_view" value="true" />
    <rosparam>
      plugins: ['JoyFootstepPlanner']
    </rosparam>
  </node>
  <node pkg="jsk_footstep_planner"
        type="footstep-planner-node.l"
        name="footstep_planner"
        output="screen">
    <rosparam>
    x:     [-0.039375,0.0525,0.0525,0.027176,-0.027176,-0.08,0.0,0.0,0.075,0.15,0.0]
    y:     [0.2475,0.26,0.26,0.206422,0.206422,0.21,0.27,0.19,0.21,0.21,0.21]
    theta: [0.174533,-0.20944,0.20944,-0.261799,0.261799,0.0,0.0,0.0,0.0,0.0,0.0]
    global_frame_id: /map
    </rosparam>
  </node>

</launch>
