<launch>
  <arg name="POSE_REMAP" default="/marker_6dof/move_marker" />
  <arg name="CONTROLLER_TYPE" default="xbox" />

  <node pkg="joy" type="joy_node" name="ps3_joy0" output="screen" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
    <remap from="/joy" to="/gopos/joy" />
  </node>

  <node pkg="jsk_teleop_joy" type="joy.py" name="joy" output="screen">
    <param name="controller_type" value="$(arg CONTROLLER_TYPE)" />
    <rosparam subst_value="true">
      plugins:
        'go-pos':
           class: 'JoyGoPos'
           args:
             follow_view: true
             pose: $(arg POSE_REMAP)
             frame_id: "odom"
    </rosparam>
    <remap from="/joy" to="/gopos/joy" />
  </node>

  <node pkg="jsk_interactive_marker"
	type="marker_6dof"
	name="marker_6dof">
    <param name="frame_id" value="odom" />
  </node>
  
</launch>
