<launch>
  <arg name="JOINT_STATES" default="/joint_states" />

  <include file="$(find jsk_teleop_joy)/launch/robot_trackball_head.launch">
    <arg name="JOINT_STATES" value="$(arg JOINT_STATES)" />
    <arg name="JOINT_TRAJECTORY_ACTION" value="/head_controller/follow_joint_trajectory_action" />
    <arg name="PITCH_JOINT" value="HEAD_JOINT0" />
    <arg name="YAW_JOINT" value="HEAD_JOINT1" />
  </include>
</launch>
