<launch>
    <arg name="CONTROLLER_DEV" default="/dev/input/js0"/>
    <arg name="OCS_NS" default="ocs"/>

    <group ns="$(arg OCS_NS)">
        <node pkg="joy" type="joy_node" name="joy_driver" output="screen" >
            <param name="dev" type="string" value="$(arg CONTROLLER_DEV)" />
            <param name="deadzone" value="0.2" />
            <param name="autorepeat_rate" value="50" />
            <param name="coalesce_interval" value="0.01" />
            <remap from="/joy" to="joy" />
        </node>
        <node pkg="jsk_teleop_joy" type="joy.py" name="joy_manager" output="screen"
              clear_params="true">
          <remap from="/joy" to="joy" />
          <param name="controller_type" value="auto" />
          <rosparam subst_value="true">
            plugins:
              'Vehicle':
                 class: 'VehicleJoyController'
                 args: []
          </rosparam>
        </node>
        <node pkg="topic_tools" type="throttle" name="handle_throttle"
              args="messages drive/operation/handle_cmd_fast 100 drive/operation/handle_cmd" />
        <node pkg="topic_tools" type="throttle" name="accel_throttle"
              args="messages drive/operation/accel_cmd_fast 100 drive/operation/accel_cmd" />
        <node pkg="topic_tools" type="throttle" name="brake_throttle"
              args="messages drive/operation/brake_cmd_fast 100 drive/operation/brake_cmd" />
        <node pkg="topic_tools" type="throttle" name="neck_y_throttle"
              args="messages drive/operation/neck_y_cmd_fast 100 drive/operation/neck_y_cmd" />
        <node pkg="topic_tools" type="throttle" name="neck_p_throttle"
              args="messages drive/operation/neck_p_cmd_fast 100 drive/operation/neck_p_cmd" />
    </group>
</launch>
