<launch>
  <arg name="camera_ns" default="/multisense/left" />

  <node type="interval_intersection_action"
        pkg="interval_intersection"
        name="interval_intersection"
        output="screen">
    <remap from="LARM_chain" to="LARM_chain/settled_interval" />
    <remap from="RARM_chain" to="RARM_chain/settled_interval" />
    <remap from="head_chain" to="head_chain/settled_interval" />
    <remap from="head_camera" to="$(arg camera_ns)/settled_interval" />
  </node>
</launch>
